<div class="table-responsive">
    <table class="table table-striped table-bordered" style="width: 100%;">
        <thead>
            <tr>
                <th>Nome da Música</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for music in music_list %}
            <tr>
                <td>{{ music.song_name }}</td>
                <td><a href="{{ music.info_song }}" target="_blank">{{ music.info_song }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
